<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
</head>
<body>
<h2>Реєстрація в системі</h2>
<form method="post" action="/register">
    <label>Ім'я користувача:</label>
    <input type="text" name="username" required />
    <label>Пароль:</label>
    <input type="password" name="password" required />
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">Зареєструватися</button>
</form>
</body>
</html>
